step-function.json
{
  "Comment": "A step function to conrtol lambdas for GRFN Ingest",
  "StartAt": "Verify",
  "States": {
    "Verify": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:406893895021:function:verify:$MATURITY",
      "Next": "Ingest",
      "ResultPath": "$.VerifyResults",
      "Retry": [
        {
          "ErrorEquals": ["INVALID_MESSAGE", "INVALID_METADATA"],
          "MaxAttempts": 0
        },
        {
          "ErrorEquals": ["States.ALL"]
        }
      ],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Notify",
        "ResultPath": "$.Error"
      }]
    },
    "Ingest": {
      "Type": "Task",
      "Resource": "arn:aws:states:us-east-1:406893895021:activity:ingest-$MATURITY",
      "TimeoutSeconds": 600,
      "ResultPath": "$.IngestResults",
      "Next": "Parallel",
      "Retry": [{
        "ErrorEquals": ["States.ALL"]
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Notify",
        "ResultPath": "$.Error"
      }]
    },
    "Parallel": {
      "Type": "Parallel",
      "InputPath": "$.IngestResults",
      "ResultPath": "$.ParallelResults",
      "Next": "Notify",
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Notify",
        "ResultPath": "$.Error"
      }],
      "Branches": [
        {
          "StartAt": "Echo_10_Construction_All",
          "States": {
            "Echo_10_Construction_All": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:406893895021:function:echo10-construction:$MATURITY",
              "InputPath": "$.all",
              "ResultPath": "$.ConstructionAllResults",
              "Next": "Echo_10_to_CMR_All",
              "Retry": [{
                "ErrorEquals": ["States.ALL"]
              }]
            },
            "Echo_10_to_CMR_All": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:406893895021:function:echo10-to-cmr:$MATURITY",
              "InputPath": "$.ConstructionAllResults",
              "ResultPath": "$.CmrAllResults",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "MaxAttempts": 6,
                "BackoffRate": 5
              }],
              "End": true
            }
          }
        },
        {
          "StartAt": "Echo_10_Construction_UnwGeo",
          "States": {
            "Echo_10_Construction_UnwGeo": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:406893895021:function:echo10-construction:$MATURITY",
              "InputPath": "$.unw_geo",
              "ResultPath": "$.ConstructionUnwGeoResults",
              "Next": "Echo_10_to_CMR_UnwGeo",
              "Retry": [{
                "ErrorEquals": ["States.ALL"]
              }]
            },
            "Echo_10_to_CMR_UnwGeo": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:406893895021:function:echo10-to-cmr:$MATURITY",
              "InputPath": "$.ConstructionUnwGeoResults",
              "ResultPath": "$.CmrUnwGeoResults",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "MaxAttempts": 6,
                "BackoffRate": 5
              }],
              "End": true
            }
          }
        },
        {
          "StartAt": "Echo_10_Construction_FullRes",
          "States": {
            "Echo_10_Construction_FullRes": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:406893895021:function:echo10-construction:$MATURITY",
              "InputPath": "$.full_res",
              "ResultPath": "$.ConstructionFullResResults",
              "Next": "Echo_10_to_CMR_FullRes",
              "Retry": [{
                "ErrorEquals": ["States.ALL"]
              }]
            },
            "Echo_10_to_CMR_FullRes": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-east-1:406893895021:function:echo10-to-cmr:$MATURITY",
              "InputPath": "$.ConstructionFullResResults",
              "ResultPath": "$.CmrFullResResults",
              "Retry": [{
                "ErrorEquals": ["States.ALL"],
                "MaxAttempts": 6,
                "BackoffRate": 5
              }],
              "End": true
            }
          }
        }
      ]
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:406893895021:function:notify:$MATURITY",
      "ResultPath": "$.NotifyResults",
      "Retry": [{
        "ErrorEquals": ["States.ALL"]
      }],
      "Next": "Check_Status"
    },
    "Check_Status": {
      "Type" : "Choice",
      "Choices": [{
        "Variable": "$.NotifyResults.Status",
        "StringEquals": "success",
        "Next": "Success"
      }],
      "Default": "Failure"
    },
    "Failure": {
      "Type": "Fail",
      "Error": "Ingest failed.",
      "Cause": "Ingest failed.  Inspect the 'Error' field of the Failure task's input for details."
    },
    "Success": {
      "Type": "Pass",
      "End": true
    }
  }
}
