step-function.json
{
  "Comment": "A step function to conrtol lambdas for GRFN Ingest",
  "StartAt": "Verify",
  "States": {
    "Verify": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:406893895021:function:verify:$MATURITY",
      "Next": "Archive",
      "ResultPath": "$.VerifyResults",
      "Retry": [
        {
          "ErrorEquals": ["INVALID_MESSAGE", "INVALID_METADATA"],
          "MaxAttempts": 0
        },
        {
          "ErrorEquals": ["States.ALL"]
        }
      ],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Notify",
        "ResultPath": "$.Error"
      }]
    },
    "Archive": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:406893895021:function:archive:$MATURITY",
      "InputPath": "$.Files",
      "ResultPath": "$.ArchiveResults",
      "Next": "Echo_10_Construction",
      "Retry": [{
        "ErrorEquals": ["States.ALL"]
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Notify",
        "ResultPath": "$.Error"
      }]
    },
    "Echo_10_Construction": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:406893895021:function:echo10-construction:$MATURITY",
      "InputPath": "$.ArchiveResults",
      "ResultPath": "$.ConstructionResults",
      "Next": "Echo_10_to_CMR",
      "Retry": [{
        "ErrorEquals": ["States.ALL"]
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Notify",
        "ResultPath": "$.Error"
      }]
    },
    "Echo_10_to_CMR": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:406893895021:function:echo10-to-cmr:$MATURITY",
      "InputPath": "$.ConstructionResults",
      "ResultPath": "$.CmrResults",
      "Next": "Notify",
      "Retry": [{
        "ErrorEquals": ["States.ALL"],
        "MaxAttempts": 6,
        "BackoffRate": 5
      }],
      "Catch": [{
        "ErrorEquals": ["States.ALL"],
        "Next": "Notify",
        "ResultPath": "$.Error"
      }]
    },
    "Notify": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:406893895021:function:notify:$MATURITY",
      "ResultPath": "$.NotifyResults",
      "Retry": [{
        "ErrorEquals": ["States.ALL"]
      }],
      "Next": "Check_Status"
    },
    "Check_Status": {
      "Type" : "Choice",
      "Choices": [{
        "Variable": "$.NotifyResults.Status",
        "StringEquals": "success",
        "Next": "Success"
      }],
      "Default": "Failure"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Failure": {
      "Type": "Fail",
      "Error": "Ingest failed.",
      "Cause": "Ingest failed.  Inspect the 'Error' field of the Failure task's input for details."
    }
  }
}
