step-function/step-function.json
{
  "Comment": "A step function to control lambdas for GRFN Ingest",
  "StartAt": "Verify",
  "States": {
    "Verify": {
      "Type": "Task",
      "Resource": "${VerifyLambdaArn}",
      "Next": "Ingest",
      "ResultPath": "$.VerifyResults",
      "Retry": [
        {
          "ErrorEquals": [
            "InvalidMessage",
            "InvalidMetadata"
          ],
          "MaxAttempts": 0
        },
        {
          "ErrorEquals": [
            "States.ALL"
          ]
        }
      ]
    },
    "Ingest": {
      "Type": "Task",
      "Resource": "${IngestLambdaArn}",
      "ResultPath": "$.IngestResults",
      "Next": "Echo10Construction",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ]
        }
      ]
    },
    "Echo10Construction": {
      "Type": "Task",
      "Resource": "${Echo10ConstructionLambdaArn}",
      "InputPath": "$.IngestResults",
      "ResultPath": "$.ConstructionResults",
      "Next": "Echo10ToCMR",
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ]
        }
      ]
    },
    "Echo10ToCMR": {
      "Type": "Task",
      "Resource": "${CmrActivity}",
      "TimeoutSeconds": 30,
      "InputPath": "$.ConstructionResults",
      "ResultPath": "$.CmrResults",
      "End": true,
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 7,
          "BackoffRate": 5.0
        }
      ]
    }
  }
}
